<!DOCTYPE html>

<html lang="en">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity Dashboard - By Randy Payano</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
 
  </style>
</head>

<body>

  <div class="container">
    
    <div class="row">
     <img src="https://i.ibb.co/yQ9TTTk/bannerbelly.jpg">


      <div class="col-md-12 jumbotron text-center">

        
     <div> <p>The most common skin bacteria encountered on participants in the Belly Button Biodiversity Project belonged to the groups Staphylococci, Corynebacteria, Actinobacteria, Clostridiales, and Bacilli.</p>  </div>
        <div class="well">
          <h5>Explore the Dataset!:</h5>
          <select id="selDataset" onchange="refresh_data(this.value)"></select>
        </div>
        <div class="row"> </div>
        <div class="col-md-12">
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">MetaData Information</h3>
             
            <div id="sample-metadata" class="panel-body"></div>



            <br>
            <br>
            <br>

      
        <div id="bubble"></div>
    
      
         
              <div id="pie"></div>
            </div>
          </div>
          </div>
         
         
          </div>
      </div>
    </div>
    
    <div id="gauge"></div>

      </div>
    
      </div>
      
    </div>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
</body>

</html>
